#################################
# Unreal Generated Ignore Files #
#################################
**/Binaries
**/Build
**/DerivedDataCache
**/Intermediate
**/Saved
Section_03/BuildingEscape/Content/StarterContent/

#############################
# VS Generated Ignore Files #
#############################
**.VC.db